@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.friends_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}

.friend_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.friend_avatar {
  width: 120px;
  margin-bottom: 20px;
}

.friend_name {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.friend_status {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.06em;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
